In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Samarth/Desktop/Mtech AI/NLP/Course/NLP_COURSE_FILES/05-Topic-Modeling/npr.csv')

In [3]:
df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
#max_df = 0.9 means that if a word is coming in more that 90% of the documents then that word should not be considered
#min_df = 2 means that a word should appear in minimum of 2 documents to be a part of this count vectorizer
count = CountVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [7]:
x = df['Article']
#dtm is document term matrix
dtm = count.fit_transform(x)

In [8]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.int64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [9]:
from sklearn.decomposition import LatentDirichletAllocation

In [10]:
LDA = LatentDirichletAllocation(n_components=7,random_state=42)

In [11]:
LDA.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7, learning_method=None,
             learning_offset=10.0, max_doc_update_iter=100, max_iter=10,
             mean_change_tol=0.001, n_components=7, n_jobs=1,
             n_topics=None, perp_tol=0.1, random_state=42,
             topic_word_prior=None, total_samples=1000000.0, verbose=0)

In [12]:
len(count.get_feature_names())

54777

In [13]:
len(LDA.components_)

7

In [16]:
single_topic = LDA.components_[0]

In [22]:
top_ten_words = single_topic.argsort()[-10:]

In [23]:
for word in top_ten_words:
    print(count.get_feature_names()[word])

city
told
war
country
government
reports
people
police
says
said

In [25]:
for i,topic in enumerate(LDA.components_):
    print('Topic ' ,i)
    print([count.get_feature_names()[index] for index in topic.argsort()[-10:]])

Topic  0
['city', 'told', 'war', 'country', 'government', 'reports', 'people', 'police', 'says', 'said']
Topic  1
['told', 'media', 'white', 'campaign', 'russia', 'house', 'news', 'president', 'said', 'trump']
Topic  2
['time', 'city', 'new', 'years', 'just', 'people', 'water', 'like', 'food', 'says']
Topic  3
['university', 'children', 'percent', 'care', 'study', 'students', 'school', 'health', 'people', 'says']
Topic  4
['law', 'campaign', 'obama', 'states', 'people', 'president', 'clinton', 'state', 'said', 'trump']
Topic  5
['new', 'really', 'way', 'says', 'know', 'think', 'time', 'people', 'just', 'like']
Topic  6
['year', 'industry', 'business', '000', 'million', 'china', 'companies', 'new', 'company', 'says']

In [26]:
topic_results = LDA.transform(dtm)

In [28]:
df['Topic'] = topic_results.argmax(axis= 1)

In [29]:
df.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      5

In [30]:
a = [1,2,3,4,5,6,7,8,9]