In [1]:
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
from string import punctuation

In [2]:
df = pd.read_json('C:/Users/Samarth/Desktop/Mtech AI/NLP/Data/winemag-data-130k-v2.json')

In [3]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,None,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,None,None,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",None,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,None,Alexander Peartree,None,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
data = df['description']

In [5]:
data.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

In [6]:
data = data.dropna()

In [21]:
x = data[:5].str.lower()

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
tfid = TfidfVectorizer(stop_words='english')

In [10]:
x = tfid.fit_transform(x)

In [11]:
x = x.toarray()

In [12]:
x = pd.DataFrame(x)

In [13]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,0.000000,0.000000,0.143600,0.214421,0.214421,0.172993,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.214421,0.000000,0.000000,0.214421,0.000000,0.000000,0.000000
1,0.000000,0.243274,0.162923,0.000000,0.000000,0.000000,0.000000,0.243274,0.243274,0.000000,...,0.243274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.162923,0.000000
2,0.000000,0.000000,0.156988,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.234411,0.000000,0.000000,0.234411,0.000000,0.000000,0.000000,0.156988,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.177742,0.220307,0.000000,0.000000,0.220307,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.220307,0.000000,0.000000
4,0.215924,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.215924,0.000000,0.000000,0.215924,0.000000,0.000000,0.144607,0.215924

In [14]:
from sklearn.decomposition import TruncatedSVD

#n_component

svd_model = TruncatedSVD(n_components=5, algorithm='randomized', n_iter=100, random_state=122)
svd_model.fit(x)

TruncatedSVD(algorithm='randomized', n_components=5, n_iter=100,
       random_state=122, tol=0.0)

In [15]:
terms = tfid.get_feature_names()
topics = []
for i, comp in enumerate(svd_model.components_):
    terms_comp = zip(terms, comp)
    sorted_terms = sorted(terms_comp, key= lambda x:x[1], reverse=True)[:7]
    topics.append("Topic "+str(i)+": ")
    for t in sorted_terms:
        topics.append(t[0])
final_topic_list = [topics[i:i+8] for i in range(0, len(topics), 8)]
for x in final_topic_list:
    print (x)

['Topic 0: ', 'flavors', 'acidity', 'pineapple', 'rind', 'dried', 'aromas', 'palate']
['Topic 1: ', 'wine', 'bottling', 'characteristics', 'comes', 'companion', 'country', 'earthy']
['Topic 2: ', 'winter', 'bottling', 'characteristics', 'comes', 'companion', 'country', 'earthy']
['Topic 3: ', 'dried', 'alongside', 'apple', 'brimstone', 'brisk', 'broom', 'citrus']
['Topic 4: ', 'astringent', 'bit', 'blossom', 'drizzled', 'finish', 'giving', 'guava']

In [37]:
stop = set(stopwords.words('english')+list(punctuation))

In [18]:
from string import punctuation
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize

In [30]:
x = data[:5].str.lower()

In [32]:
x = x.tolist()

In [34]:
x = ' '.join(x)

In [39]:
word = word_tokenize(x)

In [38]:
words = [x for x in word if x not in stopwords]

TypeError: argument of type 'WordListCorpusReader' is not iterable