In [1]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from string import punctuation
from nltk.corpus import stopwords
from textblob import TextBlob as tb
import pandas as pd

In [2]:
stop_words = list(set(stopwords.words('english')))+list(punctuation)

In [4]:
lem = WordNetLemmatizer()
def cleaning(text):
    words = text.lower()
    words = word_tokenize(words)
    words = [t for t in words if t not in stop_words]
    lemma = [lem.lemmatize(w,'v') for w in words]
    words = ' '.join(lemma)
    return words

In [5]:
df = pd.read_csv('C:/Users/Samarth/Desktop/Mtech AI/NLP/Data/haptik_open_datasets-master/domain_classification/train_data.csv')

In [6]:
df['Label'] = ' '

In [7]:
df = df.drop(['food','recharge','support','reminders','travel','nearby','movies','casual','other'],1)

In [8]:
df['message'] = df['message'].apply(cleaning)

In [9]:
for i in range(len(df['message'])):
    blob = tb(df['message'].iloc[i])
    df['Label'].iloc[i] = blob.sentiment[0]

In [10]:
df.head()

                                     message Label
0                               7am everyday  -0.2
1                             chocolate cake     0
2  close mortice tenon joint door dimentions     0
3                        train eppo kelambum     0
4             yesterday cancel flight ticket     0

In [11]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

C:\Users\Samarth\Anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [12]:
senti = SentimentIntensityAnalyzer()

In [13]:
df.head()

                                     message Label
0                               7am everyday  -0.2
1                             chocolate cake     0
2  close mortice tenon joint door dimentions     0
3                        train eppo kelambum     0
4             yesterday cancel flight ticket     0

In [14]:
df['Vader Score'] = ' '

In [15]:
vader = []
for i in range(len(df)):
    vader.append(senti.polarity_scores(df['message'].iloc[i]))
df['Vader Score'] = vader

In [16]:
df.head()

,message,Label,Vader Score
0,7am everyday,-0.2,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,chocolate cake,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,close mortice tenon joint door dimentions,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,train eppo kelambum,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,yesterday cancel flight ticket,0,"{'neg': 0.4, 'neu': 0.6, 'pos': 0.0, 'compound..."

In [21]:
df['Vader Compund'] = ' '

In [22]:
for i in range(df.shape[0]):
    df['Vader Compund'].iloc[i] = df['Vader Score'].iloc[i]['compound']

In [25]:
df.head(50)

,message,Label,Vader Score,Vader Compund
0,7am everyday,-0.2,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
1,chocolate cake,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
2,close mortice tenon joint door dimentions,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
3,train eppo kelambum,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
4,yesterday cancel flight ticket,0,"{'neg': 0.4, 'neu': 0.6, 'pos': 0.0, 'compound...",-0.25
5,chamge 12pm 9pm,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
6,want go rajasthan,0,"{'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'comp...",0.0772
7,room,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
8,please arrange flight ticket,0,"{'neg': 0.0, 'neu': 0.566, 'pos': 0.434, 'comp...",0.3182
9,kind reminder,0.6,"{'neg': 0.0, 'neu': 0.227, 'pos': 0.773, 'comp...",0.5267
10,jamshedpur jharkhand,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
11,noidaa secot 44,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
12,flight spicejet,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
13,uber,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
14,3.3.17,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
15,fare high,0.16,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
16,know train run jalgaon pune,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
17,pls send current status train ticket,0,"{'neg': 0.0, 'neu': 0.794, 'pos': 0.206, 'comp...",0.0772
18,yes 've get reminder,0,"{'neg': 0.0, 'neu': 0.526, 'pos': 0.474, 'comp...",0.4019
19,please wake today 6am,0,"{'neg': 0.0, 'neu': 0.566, 'pos': 0.434, 'comp...",0.3182
20,patli aligarh train week,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
21,look flight options,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
22,thrursday reminder,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
23,remind,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
24,payment make ola money,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
25,silchar guwahati,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
26,five people,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
27,would like cancel wake call sun 05 march 05:00...,0,"{'neg': 0.098, 'neu': 0.78, 'pos': 0.122, 'com...",0.128
28,hey find nearest medical store task,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
29,please detail train 12630,0,"{'neg': 0.0, 'neu': 0.566, 'pos': 0.434, 'comp...",0.3182
30,9761004710,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
31,information,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
32,within one half hour,-0.166667,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
33,cashback train book,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
34,need u contact,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
35,canara bank atm,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
36,would like cancel wish soni happy birthday rem...,0.8,"{'neg': 0.072, 'neu': 0.609, 'pos': 0.319, 'co...",0.7845
37,i. look railway reservation ticket counter,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
38,train no:11058,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
39,march 3rd morning 7am,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
40,want pay phone bill,0,"{'neg': 0.298, 'neu': 0.426, 'pos': 0.277, 'co...",-0.0258
41,already recharge haptik,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
42,would like cancel 1 reminder,0,"{'neg': 0.308, 'neu': 0.308, 'pos': 0.385, 'co...",0.128
43,please book train ticket,0,"{'neg': 0.0, 'neu': 0.566, 'pos': 0.434, 'comp...",0.3182
44,2 ac,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
45,'s cashback,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
46,thalassery,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
47,need order 2 birthday cake,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
48,nearest dominos,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0
49,pickup,0,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0